aiohttp==3.13.3
Bottleneck==1.6.0
matplotlib==3.10.8
numpy==2.4.2
optuna==4.7.0
orjson==3.11.9
pandas==3.0.1
pytest==9.1.1
PyYAML==6.0.3
requests==2.32.5
scipy==1.17.1
websockets==16.0
xgboost==3.2.0
